<div class="container">
<div>
    Questão {{ numDaQuestao }} de {{ totalQuestoes }}
    <br>
    Disciplina: {{ titulo.disciplina }}
    <br>
    Assunto: {{ titulo.assunto }}
    <hr>
</div>
<div class="row">
    <div class="col-9">
        Banca: {{ titulo.banca }} - Órgão: {{ titulo.orgao }} - Ano: {{ titulo.ano }}
    </div>
    <div class="col-1">
        prof
    </div>
    <div class="col-1">
        alunos
    </div>
    <div class="col-1">
        aula
    </div>
    <hr> 
</div>

</div>
